<h2>about super rentals</h2>

<p>
  the super rentals website was created to explore the wonderful world of ember.js. this project allows us to imagine travelling the world while simultaneously traversing the pathways of the ember framework!
</p>

{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
