<div class="application_hbs">

  <div class="container">
    <header class="jumbotron">
      <h1>Super Rentals</h1>
    </header>
  </div>

  <div class="container outlet">
    {{outlet}}
  </div>

  <hr>

  <footer>
    {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}} ||
    {{#link-to 'index'}}go home, super rentals!{{/link-to}}
  </footer>
</div>
